<%- layout('layouts/boilerPlate.ejs') %>

<div id="card-container" 
style="
    display: flex; 
    gap: 10px;
    flex-wrap: wrap;
    ">
    <h3>Add a <a href="/addNewRecipe"> recipe </a>...</h3> 
</div>